@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background: url("photo.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  width: 90%;
  max-width: 400px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.logo {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  margin: 10px 0;
  color: #0a3c7d;
}

p {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  background: #25D366;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:last-child {
  background: #128C7E;
}

button:hover {
  opacity: 0.9;
}
